.card {
  background-color: white;
  width: 44rem;
  margin: auto;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
@media screen  and  (max-width: 900px){
  .card {
    width: 30rem;
  }}

